@model TMS.Models.MatchDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Match</h2>
<form action="/Match/Update/@Model.Id" method="POST">
    <div style="display:none;">
        <input type="text" name="MatchId" value="@Model.Id" />
    </div>
    <div>
        <label>Home Team: </label>
        <select name="Team1Id" id="Team1Id">
            <option>Select Home Team</option>
            @foreach (var Team in Model.Teams)
            {
                if (Team.Id == Model.Team1Id)
                {
                    <option value="@Team.Id" selected>@Team.Name</option>
                }
                else
                {
                    <option value="@Team.Id">@Team.Name</option>
                }
            }
        </select>
    </div>
    <div>
        <label>Opponent Team:</label>
        <select name="Team2Id" id="Team2Id">
            <option>Select Opponent Team</option>
            @foreach (var Team in Model.Teams)
            {
                if (Team.Id == Model.Team2Id)
                {
                    <option value="@Team.Id" selected>@Team.Name</option>
                }
                else
                {
                    <option value="@Team.Id">@Team.Name</option>
                }
            }
        </select>
    </div>

    <div>
        <label>DateTime:</label>
        <input type="datetime-local" name="DateTime" id="DateTime" value="@Model.DateTime.ToString("yyyy-MM-ddTHH:mm")" />
    </div>
    <div>
        <label>Venue :</label>
        <select name="TournamentVenueId" id="TournamentVenueId">
            <option>Select Venue</option>
            @foreach (var Venue in Model.TournamentVenues)
            {
                if (Venue.VenueId == Model.TournamentVenueId)
                {
                    <option value="@Venue.VenueId" selected>@Venue.VenueDetail.Name</option>
                }
                else
                {
                    <option value="@Venue.VenueId">@Venue.VenueDetail.Name</option>
                }
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Match" />

    </div>
</form>