﻿@model IEnumerable<TMS.Models.AgentVenueAssociationDto>
@{
    ViewBag.Title = "List";
}

@*<h2>List</h2>
<a href="/Venue/Create">New Venue</a>

@foreach (var Venue in Model)
{
    <h2>@Venue.Name</h2>
    <div>Base Price: @Venue.BasePrice</div>
    <div>Location: @Venue.Location</div>
    <div>Country: @Venue.Country</div>

    <div><a href="/Venue/Edit/@Venue.Id">Edit</a></div>
    <div><a href="/Venue/DeleteConfirm/@Venue.Id">Delete</a></div>


    // <a href="@Url.Action("ListMatchesForVenue", "Match", new { venueId = Venue.VenueId })">View Matches</a>
}*@

<nav class="my-2">
    <a class="btn btn-primary navlink" href="/Venue/Create">Add Venue</a>
</nav>

<div class="row">
    <div class="col-12">
        <form asp-controller="Team" asp-action="Index">
            <p>
                Search: <input type="text" name="Search" value="@ViewData["search"]" />
                <input type="submit" class="btn btn-primary" value="Search" />
            </p>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Team Name</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr class="text-center">
                        <td colspan="5">No Data Found</td>
                    </tr>
                }
                @{ int i = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.VenueDetail.Name</td>
                        <td>@item.VenueDetail.Country</td>
                        <td>
                            @Html.ActionLink("View", "Details", new { id = @item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Edit", "Edit", new { id = @item.VenueDetail.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "DeleteConfirm", new { id = @item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>

                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    nav {
        padding-bottom: 1em;
    }

    table {
        width: 100%;
    }

    thead, tbody, tfoot, tr, td, th {
        border-width: 1px;
        padding: 0.25em;
    }
</style>
